# Default ignored files
/../../../../../../SHIQIN~1/AppData/Local/Temp/Blodhero.html3588302616947627185/.idea/shelf/
/../../../../../../SHIQIN~1/AppData/Local/Temp/Blodhero.html3588302616947627185/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../../SHIQIN~1/AppData/Local/Temp/Blodhero.html3588302616947627185/.idea/httpRequests/
